body,
html {
  margin: 0;
  padding: 0;
  background-color: rgb(39, 38, 37);
  width: 100%;
  height: 100%;
  cursor: none;
  font-family: "Bebas Neue", cursive;
}

.background * {
  width: 100%;
  height: 100%;
  position: absolute;
  background-position: center;
  background-size: cover;
  transition: opacity 2s ease-in-out;
}

.front {
  background-image: url(./images/dark.jpg);
}

/* .front:hover{
    opacity: 0;
} */

.back {
  background-image: url(./images/light-2.jpg);
}

.noOpacity {
  opacity: 0;
}

.header {
  width: 100%;
  /* height: 100%; */
  position: absolute;
  text-align: center;
  color: #ffffff86;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  flex-direction: column;
}

.day {
  font-size: 6em;
  letter-spacing: 5px;
  margin-bottom: 0;
}

.time {
  font-family: "Nunito Sans", sans-serif;
  font-size:3em;
  font-weight: 600;
  line-height: .5;
}
.info {
    position: absolute;
    font-family: "Nunito Sans", sans-serif;
    bottom: 50px;
    color: rgba(0, 0, 0, 0.829);
    background: rgba(255, 255, 255, 0.673);
    padding: 10px;
    font-size: 2em;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.info p{
    margin: 0;
    font-size: 1.5rem;
}